nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1em;
    background-color: antiquewhite;
    a {
        text-decoration: none;
        color: black;
    }
    #cart-icon {
        display: flex;
        flex-direction: row;
        img {
            height: 3em;
            width: 3em;
        }
    }
}